/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bgColor, $display){
    background-color: $bgColor;
    color: white;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: $bold;
    border-radius: 5px;
    text-decoration: none;
    display: $display;
    transition: background-color .3s ease;

    &:hover{
        background-color: darken($bgColor, 10%);
        cursor: pointer;
    } 
}