.boton-amarillo{
    @include boton($amarillo, block);
    background-color: $amarillo;

    &:hover{
        background-color: darken($amarillo, 10%);
    }
}

.boton-amarillo-inline{
    @include boton($amarillo, inline-block);
    background-color: $amarillo;

    &:hover{
        background-color: darken($amarillo, 10%);
    }
}

.boton-verde{
    @include boton($verde, inline-block);
    background-color: $verde;

    &:hover{
        background-color: darken($verde, 10%);
    }
}