.footer{
    background-color: $grisOscuro;
    padding: $separacion /2 0;

    .contenido-footer{
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        color: white;
        text-align: center;
    }

    .copyright{
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
        color: white;
    }
}