@include tablet{
    .secccion-inferior{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
    
}

.entrada-blog{
    
    margin-bottom: 2rem;

   @include tablet{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
   }
   &last-of-type{
         margin-bottom: 0;
   }

   .texto-entrada{
        margin-top: 1rem;

        @include tablet{
            margin-top: 0;
        }

        a{
            text-decoration: none;
            color: black;
        }

        a:hover{
            text-decoration: underline;
        }

        h4 {
            margin:0;
            line-height: 1.4;

            &::after{
                content: '';
                display: block;
                width: 500x;
                height: 4px;
                background-color: $verde;
                margin-top: 1rem;
            }

        


        }

        span{
            font-size: 1.4rem;
            color: $amarillo;
            margin-right: 1rem;
        }
   }
   
}