.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion{
    display: none;
    @include tablet{
        display: flex;
        align-items: center;
    }
    a{
        color: white;
        text-decoration: none;
        margin-right: 15px;
        font-weight: bold;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            text-decoration: underline;
        }
        @include tablet{
            margin-right: 2rem;
            &last-of-type{
                margin-right: 0;
            }
        }
    }
}


.mobile-menu{
    @include tablet{
        display: none;
        
    }

    img{
        width: 25px;
    }
}

.mostrar{
    display: block;
}